table td:first-child { border-right:  1px solid; }
table th {border-bottom: 1px solid;}
.navbar-default {background-color: #003591ff}
.navbar .navbar-brand {
  vertical-align: middle;
}
.navbar .navbar-img {
  padding: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navbar img {
  height: 50px;
}

.title {
  font-weight: bold;
}

#admin-panel {
  position: fixed;
  width: 5%;
  height: 40px;
  background-color: transparent;
  left: 0;
  bottom: 0;

}

a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  cursor: default;
}

.ingo {
    width: 20%;
    position: fixed;
    right: 0;
    bottom: 0;
}

.ingo img{
    width: 45%;
}

.message-box {
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  box-shadow: 0 .2rem .5rem #d8d8d8, 0 0 .0625rem #d8d8d8 !important;
  margin-bottom: 15px;
  border-left: 5px solid rgba(  47, 134, 162, 1);


}


.note-header {
  background-color:  rgba(  47, 134, 162, 0.5);
  padding: 5px;
  border-radius: 0px 5px 0px 0px;
}

.note-header img {
  height: 1em;
  margin-right: 0.2em;
}

.note-header p{
  display: flex;
  align-items: center;
}




.note-header {
  background-color:  rgba(  47, 134, 162, 0.2);
  padding: 5px;
  border-radius: 0px 5px 0px 0px;
  justify-content: center;
}

.message-box p {
  margin: 0 !important;
}

.warning-box p {
  margin: 0 !important;
}

.note-body {
  padding: 5px 20px 5px 20px;
}

.tutorial-img {
    border-radius: 5px;
    box-shadow: 0 .2rem .5rem #d8d8d8, 0 0 .0625rem #d8d8d8 !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top 40px;
    margin-bottom 40px;
    width: 80%;

}

.extra-m {
  margin-top: 30px;
  margin-bottom: 30px;
}


.warning-box {
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  box-shadow: 0 .2rem .5rem #d8d8d8, 0 0 .0625rem #d8d8d8 !important;
  margin-bottom: 15px;
  border-left: 5px solid rgba(238, 144, 64, 1);
}

.warning-header {
  background-color:  rgba(238, 144, 64, .2);
  padding: 5px;
  border-radius: 0px 5px 0px 0px;
  justify-content: center;

}

.warning-header p{
  display: flex;
  align-items: center;
}

.warning-header img {
  height: 1em;
  margin-right: 0.2em;
}
